tfm_app_proyectos_organizacion/pkgs/Wadl/tfm_generate_document_from_json_data.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="tfm_generate_document_from_json_data" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="tfm_generate_document_from_json_data" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_An_uxE1_lisisdelarchivoJSON_Contenido_def" />
      <string name="ManualTriggerInput_Agregarunafilanueva_tfm_document_template_ux28_tfm_document_template_ux29__def" />
      <string name="ManualTriggerInput_Agregarunafilanueva_tfm_process_ux28_tfm_process_ux29__def" />
      <string name="ManualTriggerInput_Agregarunafilanueva_tfm_project_ux28_tfm_project_ux29__def" />
      <object name="ManualTriggerInput">
        <property name="AnálisisdelarchivoJSON_Contenido" type="string" />
        <property name="Agregarunafilanueva_tfm_document_template(tfm_document_template)" type="string" />
        <property name="Agregarunafilanueva_tfm_process(tfm_process)" type="string" />
        <property name="Agregarunafilanueva_tfm_project(tfm_project)" type="string" />
      </object>
      <string name="ResponseActionOutput_nombredocumento_def" />
      <object name="ResponseActionOutput">
        <property name="nombredocumento" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="AnálisisdelarchivoJSON_Contenido" path="/AnálisisdelarchivoJSON_Contenido" type="xs:string" required="true" />
            <param style="plain" name="Agregarunafilanueva_tfm_document_template(tfm_document_template)" path="/Agregarunafilanueva_tfm_document_template(tfm_document_template)" type="xs:string" required="true" />
            <param style="plain" name="Agregarunafilanueva_tfm_process(tfm_process)" path="/Agregarunafilanueva_tfm_process(tfm_process)" type="xs:string" required="true" />
            <param style="plain" name="Agregarunafilanueva_tfm_project(tfm_project)" path="/Agregarunafilanueva_tfm_project(tfm_project)" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>