tfm_app_proyectos_organizacion/pkgs/Wadl/tfm_project_state-crearregistroinicialalcrearproyecto.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="tfm_project_state-crearregistroinicialalcrearproyecto" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="tfm_project_state - crear registro inicial al crear proyecto" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Agregarunafilanueva_phase_def" />
      <integer name="ManualTriggerInput_Agregarunafilanueva_state_def" />
      <string name="ManualTriggerInput_Agregarunafilanueva_tfm_project_ux28_tfm_project_ux29__def" />
      <object name="ManualTriggerInput">
        <property name="Agregarunafilanueva_phase" type="integer" />
        <property name="Agregarunafilanueva_state" type="integer" />
        <property name="Agregarunafilanueva_tfm_project(tfm_project)" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Agregarunafilanueva_phase" path="/Agregarunafilanueva_phase" type="xs:int" required="true" />
            <param style="plain" name="Agregarunafilanueva_state" path="/Agregarunafilanueva_state" type="xs:int" required="true" />
            <param style="plain" name="Agregarunafilanueva_tfm_project(tfm_project)" path="/Agregarunafilanueva_tfm_project(tfm_project)" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>